body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  font-size: calc(10px + 2vmin);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-weight: 300;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-ctrl {
  display: flex;
  justify-content: center;
  margin: 1em;
  color: white;
}

.btn-ctrl > button {
  border: 1px solid white;
  background: transparent;
  color: inherit;
  border-radius: 5px;
  margin: 0.25em;
  padding: 0.25em 0.5em;
  min-width: 75px;
}
